<section class="hero is-halfheight mt-6 p-6" style="min-height: 70vh;">
  <article>
    <h1 class="is-size-1  has-text-weight-bold"><fa-icon [icon]="faUsers" class="mr-2"></fa-icon> Users</h1>
    <table class="table is-striped is-fullwidth is-hoverable mt-2" >
        <thead>
            <tr  class="has-text-centered">
              <th class="has-text-centered">ID</th>
              <th class="has-text-centered">Username</th>
              <th class="has-text-centered">Email</th>
              <th class="has-text-centered">Tags</th>
              <th class="has-text-centered">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="!loading">
            <tr *ngFor="let user of users" style="cursor:pointer ;" (click)="select_row(user.id)">
              <td class="has-text-centered">{{user.id}}</td>
                <td class="has-text-centered">{{user.username}}</td>
                <td class="has-text-centered">{{user.email}}</td>
                <td class="is-flex is-flex-direction-column is-justify-content-center">
                  <div class="is-flex is-justify-content-center is-flex-wrap-wrap"> 
                    <div class="tags has-addons ml-1 mr-1">
                      <span class="tag ">Verified</span>
                      <span class="tag is-success has-text-white has-text-weight-bold" *ngIf="user.isVerified"><fa-icon [icon]="faCheck"></fa-icon></span>
                      <span class="tag is-danger has-text-white has-text-weight-bold" *ngIf="!user.isVerified"><fa-icon [icon]="faXmark"></fa-icon></span>
                    </div>
                    <div class="tags has-addons">
                      <span class="tag ">2FA configured</span>
                      <span class="tag is-primary has-text-white has-text-weight-bold">{{user.total_of_2fa}}</span>
                    </div>
                   
                    
                  </div>
                  <div class="is-flex is-justify-content-center is-flex-wrap-wrap">
                    <div class="tags has-addons ml-1 mr-1 mt-2">
                      <span class="tag ">Blocked</span>
                      <span class="tag is-success has-text-white has-text-weight-bold" *ngIf="!user.isBlocked"><fa-icon [icon]="faXmark" ></fa-icon></span>
                      <span class="tag is-danger has-text-white has-text-weight-bold" *ngIf="user.isBlocked"><fa-icon [icon]="faCheck" ></fa-icon></span>
                    </div>
                    <div class="tags has-addons mt-2 ml-1 mr-1">
                      <span class="tag">Google Drive</span>
                      <span class="tag is-success has-text-white has-text-weight-bold" *ngIf="user.is_google_drive_enabled"><fa-icon [icon]="faCheck" ></fa-icon></span>
                      <span class="tag is-danger has-text-white has-text-weight-bold" *ngIf="!user.is_google_drive_enabled"><fa-icon [icon]="faXmark" ></fa-icon></span>
                    </div>
                  </div>
                  <div class="is-flex is-justify-content-center  mt-2 "> 
                    <div class="tags has-addons">
                      <span class="tag ">Signup</span>
                      <span class="tag is-primary has-text-white has-text-weight-bold">{{user.signup_date}}</span>
                    </div>
                  </div>
                  
                  <div class="is-flex is-justify-content-center  mt-2 ">
                    <div class="tags has-addons">
                      <span class="tag ">Last login</span>
                      <span class="tag is-primary has-text-white has-text-weight-bold">{{user.last_login_date}}</span>
                    </div>
                  </div>
                  
                </td>
                <td class="has-text-centered">
                  <div class="is-flex is-justify-content-center">
                    <button class="button is-warning has-text-white mr-2 ml-2" (click)="disable_user(user.id)" *ngIf="!user.isBlocked"><fa-icon [icon]="faUserLock"></fa-icon></button>
                    <button class="button is-success has-text-white mr-2 ml-2" (click)="unblock(user.id)" *ngIf="user.isBlocked" [ngClass]="{'is-loading':is_unblocking}"><fa-icon [icon]="faLockOpen"></fa-icon></button>

                    <button class="button is-danger has-text-white mr-2 ml-2" (click)="delete_user(user.id)"><fa-icon [icon]="faTrash"></fa-icon></button>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>
        <div class="is-flex is-justify-content-center" *ngIf="loading">
          <fa-icon [icon]="faCircleNotch" animation="spin" class="is-large mt-5"  size="xl" ></fa-icon>
        </div>
        </article>
</section>
<div  class="modal modal-fx-fadeInScale"
    [ngClass]="{'is-active': confirm_disable_modal_active}">
    <div class="modal-background" (click)="close_disable_modal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-danger has-text-weight-bold">You are about to disable an user</p>
            <button class="delete" aria-label="close" (click)="close_disable_modal()"></button>
          </header>
          <section class="modal-card-body content">
            <p class="has-text-weight-bold">Are you sure you want to disable <code >{{get_email_by_id(disabling_user_id)}}</code> (#{{disabling_user_id}}) ? This action will be logged.</p>
          </section>

          <footer class="modal-card-foot is-flex is-justify-content-space-around">
            <button class="button is-dark" (click)="close_disable_modal()" [disabled]="is_disabling"><fa-icon [icon]="faXmark" class="mr-2"></fa-icon> Cancel</button>
              <a class="button is-warning "  [ngClass]="{'is-loading':is_disabling}" (click)="confirm_disable_user()"><fa-icon [icon]="faUserLock" class="mr-2"></fa-icon> Block</a>
         

          </footer>

    </div>
</div>

<div  class="modal modal-fx-fadeInScale"
    [ngClass]="{'is-active': confirm_delete_modal_active}">
    <div class="modal-background" (click)="close_delete_modal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-danger has-text-weight-bold">You are about to delete an user</p>
            <button class="delete" aria-label="close" (click)="close_delete_modal()"></button>
          </header>
          <section class="modal-card-body content">
            <p class="has-text-weight-bold has-text-danger">Are you sure you want to delete <code >{{get_email_by_id(deleting_user_id)}}</code> (#{{deleting_user_id}}) ? This action will be logged and cannot be canceled .</p>
          </section>

          <footer class="modal-card-foot is-flex is-justify-content-space-around">
            <button class="button is-dark" (click)="close_delete_modal()" [disabled]="is_deleting"><fa-icon [icon]="faXmark" class="mr-2"></fa-icon> Cancel</button>
              <button class="button is-danger " [disabled]="deletion_timer>0" [ngClass]="{'is-loading':is_deleting}" (click)="confirm_delete_user()">
                <span *ngIf="deletion_timer==0">
                  <fa-icon [icon]="faTrash" class="mr-2" ></fa-icon> Delete 
                </span>
                <span *ngIf="deletion_timer>0">
                  <fa-icon [icon]="faHand" class="mr-2" ></fa-icon> {{deletion_timer}} s 
                </span>
              </button>
         

          </footer>

    </div>
</div>
