<section class="hero is-halfheight mt-6 p-6" style="min-height: 70vh;">
  <article>
    <h1 class="is-size-1  has-text-weight-bold"><fa-icon [icon]="faUsers" class="mr-2"></fa-icon> Users</h1>
    <table class="table is-striped is-fullwidth is-hoverable " >
        <thead>
            <tr  class="has-text-centered">
              <th class="has-text-centered">ID</th>
              <th v>Username</th>
              <th class="has-text-centered">Email</th>
              <th class="has-text-centered">Status</th>
              <th class="has-text-centered">Signup date</th>
              <th class="has-text-centered">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="!loading">
            <tr *ngFor="let user of users">
              <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                  <div class="is-flex is-justify-content-space-around">
                    <span class="tag is-success is-light mr-1" *ngIf="user.isVerified">Verified</span>
                    <span class="tag is-danger is-light mr-1" *ngIf="!user.isVerified">Not verified</span>
                    <span class="tag is-danger is-light" *ngIf="user.isBlocked">Blocked</span>
                    <span class="tag is-success is-light" *ngIf="!user.isBlocked">Enabled</span>
                    </div>
                </td>
                <td class="has-text-grey">{{user.signup_date}}</td>
                <td class="is-flex">
                    <button class="button is-warning has-text-white mr-2 ml-2" (click)="disable_user(user.id)" *ngIf="!user.isBlocked"><fa-icon [icon]="faUserLock"></fa-icon></button>
                    <button class="button is-success has-text-white mr-2 ml-2" (click)="unblock(user.id)" *ngIf="user.isBlocked" [ngClass]="{'is-loading':is_unblocking}"><fa-icon [icon]="faLockOpen"></fa-icon></button>

                    <button class="button is-danger has-text-white mr-2 ml-2" (click)="delete_user(user.id)"><fa-icon [icon]="faTrash"></fa-icon></button>
                </td>
              </tr>
            </tbody>
        </table>
        <div class="is-flex is-justify-content-center" *ngIf="loading">
          <fa-icon [icon]="faCircleNotch" animation="spin" class="is-large mt-5"  size="xl" ></fa-icon>
        </div>
        </article>
</section>
<div  class="modal modal-fx-fadeInScale"
    [ngClass]="{'is-active': confirm_disable_modal_active}">
    <div class="modal-background" (click)="close_disable_modal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-danger has-text-weight-bold">You are about to disable an user</p>
            <button class="delete" aria-label="close" (click)="close_disable_modal()"></button>
          </header>
          <section class="modal-card-body content">
            <p class="has-text-weight-bold">Are you sure you want to disable <code >{{get_email_by_id(disabling_user_id)}}</code> (#{{disabling_user_id}}) ? This action will be logged.</p>
          </section>

          <footer class="modal-card-foot is-flex is-justify-content-space-around">
            <button class="button is-dark" (click)="close_disable_modal()" [disabled]="is_disabling"><fa-icon [icon]="faXmark" class="mr-2"></fa-icon> Cancel</button>
              <a class="button is-warning "  [ngClass]="{'is-loading':is_disabling}" (click)="confirm_disable_user()"><fa-icon [icon]="faUserLock" class="mr-2"></fa-icon> Block</a>
         

          </footer>

    </div>
</div>

<div  class="modal modal-fx-fadeInScale"
    [ngClass]="{'is-active': confirm_delete_modal_active}">
    <div class="modal-background" (click)="close_delete_modal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-danger has-text-weight-bold">You are about to delete an user</p>
            <button class="delete" aria-label="close" (click)="close_delete_modal()"></button>
          </header>
          <section class="modal-card-body content">
            <p class="has-text-weight-bold has-text-danger">Are you sure you want to delete <code >{{get_email_by_id(deleting_user_id)}}</code> (#{{deleting_user_id}}) ? This action will be logged and cannot be canceled .</p>
          </section>

          <footer class="modal-card-foot is-flex is-justify-content-space-around">
            <button class="button is-dark" (click)="close_delete_modal()" [disabled]="is_deleting"><fa-icon [icon]="faXmark" class="mr-2"></fa-icon> Cancel</button>
              <button class="button is-danger " [disabled]="deletion_timer>0" [ngClass]="{'is-loading':is_deleting}" (click)="confirm_delete_user()">
                <span *ngIf="deletion_timer==0">
                  <fa-icon [icon]="faTrash" class="mr-2" ></fa-icon> Delete 
                </span>
                <span *ngIf="deletion_timer>0">
                  <fa-icon [icon]="faHand" class="mr-2" ></fa-icon> {{deletion_timer}} s 
                </span>
              </button>
         

          </footer>

    </div>
</div>
