<section class="hero is-halfheight mt-6 p-6" style="min-height: 70vh;">
    <h1 class="is-size-1  has-text-weight-bold"><fa-icon [icon]="faChartLine" class="mr-2"></fa-icon> Overview</h1>
    <article class="m-4 box">
        <h2 class="is-size-3  has-text-weight-bold"><fa-icon [icon]="faUsersRectangle"class="mr-2"></fa-icon> Users Metrics</h2>
        <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap">
            

            <div class="card m-4" style="width:25%">
                <div class="card-content has-background-primary-light has-text-centered ">
                    <div class="content has-text-primary is-size-1 has-text-weight-bold" style="width:100%">
                        <fa-icon [icon]="faCircleNotch" animation="spin" *ngIf="total_user == undefined"></fa-icon>
                        <span *ngIf="total_user != undefined">{{total_user}}</span>
                    </div>
                    <div class="content has-text-primary  has-text-weight-bold" style="width:100%">
                        Total users
                    </div>
                </div>
            </div>
            <div class="card m-4" style="width:25%">
                <div class="card-content has-background-success-light has-text-centered ">
                    <div class="content has-text-success is-size-1 has-text-weight-bold" style="width:100%">
                        <fa-icon [icon]="faCircleNotch" animation="spin" *ngIf="total_verified_user == undefined"></fa-icon>
                        <span *ngIf="total_verified_user != undefined">{{total_verified_user}}</span>
                    </div>
                    <div class="content has-text-success  has-text-weight-bold" style="width:100%">
                        Total verified users
                    </div>
                </div>
            </div>
            
            <div class="card m-4" style="width:25%">
                <div class="card-content has-background-danger-light has-text-centered ">
                    <div class="content has-text-danger is-size-1 has-text-weight-bold" style="width:100%">
                        <fa-icon [icon]="faCircleNotch" animation="spin" *ngIf="total_blocked_user == undefined"></fa-icon>
                        <span *ngIf="total_blocked_user != undefined">{{total_blocked_user}}</span>
                    </div>
                    <div class="content has-text-danger  has-text-weight-bold" style="width:100%">
                        Total blocked users
                    </div>
                </div>
            </div>
        </div>
        <div class="is-flex is-justify-content-center mt-4">
        <canvas baseChart width="900px" height="300px" 
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend">
  </canvas>
</div>

    </article>
    <article class="m-4 box">
        <h2 class="is-size-3  has-text-weight-bold"><fa-icon [icon]="faServer" class="mr-2"></fa-icon> Servers Metrics</h2>
        <div class="is-flex is-justify-content-space-around is-flex-wrap-wrap">
            

            <div class="card m-4" style="width:25%">
                <div class="card-content has-background-warning-light has-text-centered ">
                    <div class="content has-text-warning is-size-1 has-text-weight-bold" style="width:100%">
                        0
                    </div>
                    <div class="content has-text-warning  has-text-weight-bold" style="width:100%">
                        rate limited IP
                    </div>
                </div>
                </div>
                <div class="card m-4" style="width:25%">
                <div class="card-content has-background-warning-light has-text-centered ">
                    <div class="content has-text-warning is-size-1 has-text-weight-bold" style="width:100%">
                        0
                    </div>
                    <div class="content has-text-warning  has-text-weight-bold" style="width:100%">
                        rate limited emails
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>