<section class="hero is-halfheight mt-6 p-6" style="min-height: 70vh;">
    <h1 class="is-size-1  has-text-weight-bold"><fa-icon [icon]="faChartLine" class="mr-2"></fa-icon> Overview</h1>
    <article class="m-4 box">
        <h2 class="is-size-3  has-text-weight-bold mb-4">Users Metrics</h2>
        <div class="is-flex is-justify-content-space-between">
            <div class="card ml-4 mr-4" style="width:100%">
                <header class="card-header">
                    <p class="card-header-title">Total users</p>
                </header>
                <div class="card-content has-background-primary-light has-text-centered ">
                    <div class="content has-text-primary is-size-1 has-text-weight-bold" style="width:100%">
                        200
                    </div>
                </div>
            </div>
            <div class="card ml-4 mr-4" style="width:100%">
                <header class="card-header">
                    <p class="card-header-title">Total verified users</p>
                </header>
                <div class="card-content has-background-success-light has-text-centered ">
                    <div class="content has-text-success is-size-1 has-text-weight-bold" style="width:100%">
                        150
                    </div>
                </div>
            </div>
            <div class="card ml-4 mr-4" style="width:100%">
                <header class="card-header">
                    <p class="card-header-title">Total blocked users</p>
                </header>
                <div class="card-content has-background-danger-light has-text-centered ">
                    <div class="content has-text-danger is-size-1 has-text-weight-bold" style="width:100%">
                        3
                    </div>
                </div>
            </div>
        </div>

    </article>
</section>