<section class="hero is-halfheight mt-6" style="min-height:80vh;">
    <div class="hero-body is-flex is-flex-direction-column is-justify-content-center	is-fullheight">
      <div class="has-text-centered	is-full is-flex is-justify-content-center block">
        <div class="is-flex is-justify-content-center is-flex-direction-column">
          
        <p class="block"><span class="title is-1 is-full has-text-centered has-text-danger has-text-weight-bold">
            {{ 'login.title' | translate }}</span><br /> </p>
            <article class="message is-warning p-6">
              <div class="message-body">
                <fa-icon [icon]="faShieldHalved" class="mr-2"></fa-icon> {{ 'login.subtitle' | translate }}
              </div>
            </article>
  
       </div> 
      </div>
      <div class="has-text-centered columns p-5" *ngIf="warning_message != ''">
        <div class="notification {{warning_message_color}} column is-6 is-offset-3 ">
          <strong class="block">{{warning_message | translate}}</strong>
        </div>
      </div>
      <div class="has-text-centered	is-full ">
        <div class="field block">
          <p class="control has-icons-left has-icons-right">
             <input class="input " type="text" placeholder="{{'username' | translate}}" name="username" [(ngModel)]="username"/>
            <span class="icon is-small is-left">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
            <span class="icon is-small is-right">
              <fa-icon [icon]="faCheck"></fa-icon>
            </span>
          </p>
         
        </div>
        <div class="field is-full is-flex is-justify-content-center has-addons mt-4">
          <p class="control has-icons-left has-icons-right">
         <input class="input block" type="{{isPassphraseVisible ? 'text' : 'password'}}" placeholder="{{'passphrase' | translate}}" name="password" [(ngModel)]="password" (keyup.enter)="login()">
            <span class="icon is-small is-left">
              <fa-icon [icon]="faKey"></fa-icon>
            </span>
          </p>
          <div class="control">
            <a class="button" (click)="isPassphraseVisible = !isPassphraseVisible">
              <fa-icon [icon]="faEyeSlash" *ngIf="isPassphraseVisible" size="sm" ></fa-icon><fa-icon [icon]="faEye" *ngIf="!isPassphraseVisible" size="sm"></fa-icon>
            </a>
            
          </div>
        </div>
        <div class="control has-text-left mt-4 " >
          <a class="has-text-grey button is-text" style="text-decoration: none;" (click)="reset_admin_passphrase_modal = true"> <fa-icon [icon]="faSuitcaseMedical" class="mr-2"></fa-icon> {{"login.forgot_passphrase" | translate}}</a>
        </div>
        </div>
        <div class="has-text-centered	block">
        
        <div class="field mt-5">
          <div class="control">
            <button class="button is-info is-medium block has-text-white" (click)="login()" [ngClass]="{'is-loading': isLoading}" [disabled]="isLoading">{{"log_in" | translate }}
              </button>
          </div>
        </div>
      </div>
      
    </div>
    

    
  </section>

  <div id="reset_admin_passphrase" class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': reset_admin_passphrase_modal}">
    <div class="modal-background" (click)="reset_admin_passphrase_modal = !reset_admin_passphrase_modal"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Reset admin password</p>
        <button class="delete" aria-label="close" (click)="reset_admin_passphrase_modal = !reset_admin_passphrase_modal"></button>
      </header>
        <section class="modal-card-body">
          <!--<article class="message is-primary">
            <div class="message-header" style="cursor:pointer" (click)="reset_root_doc_displayed=!reset_root_doc_displayed">
              <p><strong>Option 1 - </strong>Reset a non-root admin password</p>
              <button> <fa-icon [icon]="faChevronUp" *ngIf="reset_root_doc_displayed"></fa-icon> <fa-icon [icon]="faChevronDown" *ngIf="!reset_root_doc_displayed"></fa-icon> </button>
            </div>
            <div class="message-body" *ngIf="reset_root_doc_displayed">
              Will come soon. For now
            </div>
          </article>-->
          <article class="message is-primary mt-4">
            <div class="message-header" style="cursor:pointer" (click)="reset_root_pass_displayed=!reset_root_pass_displayed">
              <p class="has-text-white"><strong>Option 1 - </strong>Reset the root password</p>
              <button> <fa-icon [icon]="faChevronUp" *ngIf="reset_root_pass_displayed"></fa-icon> <fa-icon [icon]="faChevronDown" *ngIf="!reset_root_pass_displayed"></fa-icon> </button>
            </div>
            <div class="message-body" *ngIf="reset_root_pass_displayed">
              1. Go on your server where the docker container is running<br>
              2. Enter the container :<br>
              <code>docker exec -it &lt;container_name&gt; /bin/sh</code><br>
              3. Go in the api folder :<br>
              <code>cd /api</code><br>
              4. Reset the root password using the script :<br>
              <code>python -m tools.regenerate_root_password</code><br>
              5. You're good to go !<br>
            </div>
          </article>
        </section>
        <footer class="modal-card-foot is-flex is-justify-content-right">
            
        </footer>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="reset_admin_passphrase_modal = !reset_admin_passphrase_modal" ></button>
  </div>