<section class="hero is-halfheight mt-6" style="min-height: 70vh;">
    <div class="hero-body is-flex is-flex-direction-column is-justify-content-center	is-fullheight">
      <div class="has-text-centered	is-full is-flex is-justify-content-center block">
        <div class="is-flex is-justify-content-center is-flex-direction-column">
          
        <p class="block"><span class="title is-1 is-full has-text-centered has-text-danger has-text-weight-bold">
            {{ 'login.title' | translate }}</span><br /> </p>
            <article class="message is-warning p-6">
              <div class="message-body">
                {{ 'login.subtitle' | translate }}
              </div>
            </article>
  
       </div> 
      </div>
      <div class="has-text-centered columns p-5" *ngIf="warning_message != ''">
        <div class="notification {{warning_message_color}} column is-6 is-offset-3 ">
          <strong class="block">{{warning_message | translate}}</strong>
        </div>
      </div>
      <div class="has-text-centered	is-full ">
        <div class="field block">
          <p class="control has-icons-left has-icons-right">
             <input class="input " type="text" placeholder="{{'username' | translate}}" name="username" [(ngModel)]="username"/>
            <span class="icon is-small is-left">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
            <span class="icon is-small is-right">
              <fa-icon [icon]="faCheck"></fa-icon>
            </span>
          </p>
         
        </div>
        <div class="field is-full is-flex is-justify-content-center has-addons mt-4">
          <p class="control has-icons-left has-icons-right">
         <input class="input block" type="{{isPassphraseVisible ? 'text' : 'password'}}" placeholder="{{'passphrase' | translate}}" name="password" [(ngModel)]="password" (keyup.enter)="login()">
            <span class="icon is-small is-left">
              <fa-icon [icon]="faKey"></fa-icon>
            </span>
          </p>
          <div class="control">
            <a class="button" (click)="isPassphraseVisible = !isPassphraseVisible">
              <fa-icon [icon]="faEyeSlash" *ngIf="isPassphraseVisible" size="sm" ></fa-icon><fa-icon [icon]="faEye" *ngIf="!isPassphraseVisible" size="sm"></fa-icon>
            </a>
            
          </div>
        </div>
        <div class="control has-text-left" >
          <label class="checkbox">
            <input type="checkbox" name="remember" [(ngModel)]="remember">
            {{ 'login.remember' | translate }} 
          </label>
        </div>
        </div>
        <div class="has-text-centered	block">
        
        <div class="field mt-5">
          <div class="control">
            <button class="button is-info is-medium block " (click)="login()" [ngClass]="{'is-loading': isLoading}" [disabled]="isLoading">{{login_button | translate }}
              </button>
          </div>
        </div>
      </div>
      
    </div>
    

    
  </section>

