<section class="hero is-halfheight mt-6 p-6" style="min-height: 70vh;">
    <article>
      <h1 class="is-size-1  has-text-weight-bold"><fa-icon [icon]="faBell" class="mr-2"></fa-icon> 
        {{'notif.title' | translate}}
        
        
      </h1>
      <div class="is-flex is-justify-content-center mt-6" >
        <div class="box" style="width:85vw">
          <div class="is-flex is-justify-content-space-between">
            <div class="is-flex is-align-items-center	">
              <h3 class="is-size-3  has-text-weight-bold"  *ngIf="notifcation_id_to_display != undefined">{{'notif.config.title' | translate}} </h3>
              <h3 class="is-size-3  has-text-weight-bold"  *ngIf="notifcation_id_to_display == undefined">{{'notif.config.new.title' | translate}} </h3>
              <span class="tag is-light is-danger is-rounded ml-3 has-text-danger is-medium" *ngIf="!notif_enabled">{{'Disabled'|translate}}</span>  
              <span class="tag is-light is-success is-rounded ml-3 has-text-success is-medium" *ngIf="notif_enabled">{{'enabled'|translate}}</span>  

              <span class="tag is-light  has-text-danger is-danger is-rounded ml-3 is-medium" *ngIf="notif_auth_user_only">{{'notif.config.auth_user_only'|translate}}</span>
              <span class="tag is-light  has-text-success is-success is-rounded ml-3 is-medium" *ngIf="!notif_auth_user_only">{{'notif.config.all_user'|translate}}</span>
            
              <span class="tag is-light  has-text-danger is-danger is-rounded ml-3 is-medium" *ngIf="!will_the_current_notification_be_displayed">{{'notif.config.no_display'|translate}}</span>
            <span class="tag is-light  has-text-success is-success is-rounded ml-3 is-medium" *ngIf="will_the_current_notification_be_displayed">{{'notif.config.display'|translate}}</span>
          </div>
          <div>
            <button class="button is-danger has-text-white" *ngIf="notifcation_id_to_display != undefined" (click)="open_delete_modal(notifcation_id_to_display)"><fa-icon [icon]="faTrashCan"></fa-icon> </button>
          </div>
          </div>
          <div>
            <span class="has-text-grey">{{'notif.config.id.label' | translate}} <span *ngIf="notifcation_id_to_display">{{notifcation_id_to_display}}</span><span *ngIf="!notifcation_id_to_display">{{'notif.config.id.unknown' | translate}}</span></span>
          </div>
          <div class="field">
            <label class="label">{{'notif.config.message.label' | translate}}</label>
            <div class="control">
              <textarea class="textarea" [(ngModel)]="notifMessage" name="notifMessage" placeholder="{{'notif.config.message.placeholder' | translate}}" (change)="defineNotificationToDisplayInZeroTOTP()"></textarea>
            </div>
            
            <label class="checkbox mt-4">
              <input type="checkbox" [(ngModel)]="notif_enabled" name="notif_enabled" (change)="defineNotificationToDisplayInZeroTOTP()"/>
              <span class="has-text-weight-bold has-text-dark ml-1"><fa-icon [icon]="faCheckToSlot"></fa-icon> {{'enabled'| translate}}</span>
            </label><br>
            <label class="checkbox mt-4">
              <input type="checkbox" [(ngModel)]="notif_auth_user_only" name="notif_auth_user_only" (change)="defineNotificationToDisplayInZeroTOTP()"/>
              <span class="has-text-weight-bold has-text-dark ml-1"><fa-icon [icon]="faUserCheck"></fa-icon> {{'notif.config.auth_user_only'| translate}}</span>
            </label>
            <div class="mt-4 control">
              <label class="label">{{'notif.config.datetime.label' | translate}} {{localTimezone}})</label>
              <input type="datetime-local" name="notifExpiration" [(ngModel)]="notifExpiration" (change)="defineNotificationToDisplayInZeroTOTP()"/>

            </div>
            <div class="mt-6 is-flex is-justify-content-space-between	">
              <div><button class="button is-info is-light" (click)="cancelNotification()" *ngIf="notifcation_id_to_display != undefined">{{'Cancel' | translate}}</button></div>
              <button class="button is-info has-text-white" (click)="saveNotificationConfig()">{{'notif.config.save' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6 ml-4">
      <h3 class="is-size-3  has-text-weight-bold">{{'notif.history.title' | translate}} </h3>
      <div class="is-flex is-justify-content-center" *ngIf="notifications == []">
        <div>
          <fa-icon [icon]="faCircleNotch" animation="spin" class="is-large mt-5"  size="xl" ></fa-icon>
        </div>
      </div>
      <div class="is-flex is-flex-direction-column	">
        <div class="is-flex is-justify-content-center" *ngFor="let notif of notifications">
          <div class="box  mt-4" [ngClass]="{'notifSelected':isNotifSelected(notif.id)}" style="width:75vw; cursor: pointer;" (click)="selectNotification(notif.id)" >
            <div class="is-flex is-justify-content-space-between is-align-items-center" >
              <div> 
                <h5 class="is-size-5  has-text-weight-bold" >{{notif.message}}</h5>
                <span class="has-text-black ">{{timestampToLocaleDate(notif.timestamp)}}</span><br>
                <span class="has-text-grey">{{notif.id}}</span>
              </div>
           
            <div class="is-flex is-justify-content-right is-flex-wrap-wrap">
              <span class="tag is-light is-success is-rounded ml-3 has-text-success is-medium" *ngIf="zero_totp_displayed_notification_id == notif.id">{{'displayed'|translate}}</span>  
              <span class="tag is-light is-danger is-rounded ml-3 has-text-danger is-medium" *ngIf="zero_totp_displayed_notification_id != notif.id">{{'notif.config.not_displayed'|translate}}</span> 
              <span class="tag is-light is-info is-rounded ml-3 has-text-info is-medium" *ngIf="notif.enabled">{{'enabled'|translate}}</span>  
              <span class="tag is-light is-info is-rounded ml-3 has-text-info is-medium" *ngIf="!notif.enabled">{{'Disabled'|translate}}</span>  
              <span class="tag is-light is-info is-rounded ml-3 has-text-info is-medium" *ngIf="notif.auth_user_only">{{'notif.config.auth_user_only'|translate}}</span>
              <span class="tag is-light is-info is-rounded ml-3 has-text-info is-medium" *ngIf="!notif.auth_user_only">{{'notif.config.all_user'|translate}}</span>
              <span class="tag is-light is-info is-rounded ml-3 has-text-info is-medium" *ngIf="notif.expiration_timestamp == null">{{'No expiration'|translate}}</span>

            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
      
    </article>
</section>

<div  class="modal modal-fx-fadeInScale"
    [ngClass]="{'is-active': confirm_delete_modal_active}">
    <div class="modal-background" (click)="close_delete_modal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-danger has-text-weight-bold">You are about to delete an user</p>
            <button class="delete" aria-label="close" (click)="close_delete_modal()"></button>
          </header>
          <section class="modal-card-body content">
            <p class="has-text-weight-bold has-text-danger">Are you sure you want to delete the notification <code >{{notification_id_to_delete}}</code> ?<br> Notification message : <br>  
              <code >{{get_notification_by_id(notification_id_to_delete)!.message}}</code></p>
          </section>

          <footer class="modal-card-foot is-flex is-justify-content-space-around">
            <button class="button is-dark" (click)="close_delete_modal()" [disabled]="is_deleting"><fa-icon [icon]="faXmark" class="mr-2"></fa-icon> Cancel</button>
              <button class="button is-danger has-text-white"  [ngClass]="{'is-loading':is_deleting}" (click)="confirm_delete()">
                  <fa-icon [icon]="faTrashCan" class="mr-2" ></fa-icon> Delete 
              </button>
         

          </footer>

    </div>
</div>