/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: #5AA9E6;
    --secondary: #5AA9E6;
    --success: #63A375;
    --info: #5AA9E6;
    --warning: #FFCF56;
    --danger: #FE6847;
    --light: #F3F4F6;
    --dark: #16262E;
    --black: #16262E;
    --white: #FFFFFF;
    --link: #5AA9E6;
    
}

