openapi: 3.0.3
info:
  title: Zero-TOTP Admin API
  description: API for the Zero-TOTP Admin application
  version: "1.0"
servers:
  - url: /api/v1
paths:
  /stats/users/category:
    get:
      operationId: controllers.stats.get_users_per_category
      tags:
        - Stats
      summary: Return users' statistics per category
      responses:
        "200": # status code
          description: Return users' statistics per category
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_users:
                    type: integer
                    description: Total number of users
                    example: 100
                  verified_users:
                    type: integer
                    description: Total number of verified users
                    example: 80
                  blocked_users:
                    type: integer
                    description: Total number of blocked users
                    example: 10

        "401":
          description: Unauthorized
        "403":
          description: Access denied

  /stats/users/timechart:
    get:
      operationId: controllers.stats.get_user_timechart
      tags:
        - Stats
      summary: Return new users' statistics
      responses:
        "200": # status code
          description: Return new users' statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_users_per_months:
                    type: object
                    description: New users per month
                    example: {
                      "2021-01-01": 10,
                      "2021-02-01": 20,
                      "2021-03-01": 30
                    }
        "401":
          description: Unauthorized
        "403":
          description: Access denied
