openapi: 3.0.3
info:
  title: Zero-TOTP Admin API
  description: API for the Zero-TOTP Admin application
  version: "1.0"
servers:
  - url: /api/v1
security:
  - cookieAuth: []
paths:
  /stats/users/category:
    get:
      operationId: controllers.stats.get_users_per_category
      tags:
        - Stats
      summary: Return users' statistics per category
      responses:
        "200": # status code
          description: Return users' statistics per category
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_users:
                    type: integer
                    description: Total number of users
                    example: 100
                  verified_users:
                    type: integer
                    description: Total number of verified users
                    example: 80
                  blocked_users:
                    type: integer
                    description: Total number of blocked users
                    example: 10

        "401":
          description: Unauthorized
        "403":
          description: Access denied

  /stats/users/timechart:
    get:
      operationId: controllers.stats.get_user_timechart
      tags:
        - Stats
      summary: Return new users' statistics
      responses:
        "200": # status code
          description: Return new users' statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_users_per_months:
                    type: object
                    description: New users per month
                    example: {
                      "2021-01-01": 10,
                      "2021-02-01": 20,
                      "2021-03-01": 30
                    }
        "401":
          description: Unauthorized
        "403":
          description: Access denied
  
  /stats/server/rate-limiting:
    get:
      operationId: controllers.stats.get_rate_limiting
      tags:
        - Stats
      summary: Return rate limiting statistics
      responses:
        "200": # status code
          description: Return rate limiting statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  ip_rate_limited:
                    type: number
                    description: IP rate limited
                    example: 10
                  user_rate_limited:
                    type: number
                    description: User rate limited
                    example: 20
        "401":
          description: Unauthorized
        "403":
          description: Access denied
  /login:
    post:
      security: []
      operationId: controllers.auth.login
      tags:
        - Auth
      summary: Login to the application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Username
                password:
                  type: string
                  description: Password
              required:
                  - username
                  - password
      responses:
        "200": 
          description: Login successful
        "400":
          description: Invalid request
        "403":
          description: Login failed
  /whoami:
    get:
      operationId: controllers.auth.whoami
      tags:
        - Auth
      summary: Return the current user
      responses:
        "200": 
          description: Return the current user
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    description: Username
                    example: admin
        "401":
          description: Not authenticated
        "403":
          description: Access denied
  /logout:
     post:
      operationId: controllers.auth.logout
      tags:
        - Auth
      summary: Logout from the application
      responses:
        "200": 
          description: Logout successful
        "401":
          description: Not authenticated
        "403":
          description: Access denied

components:
  securitySchemes:
    cookieAuth:       
      type: apiKey
      in: cookie
      name: session_id  
      x-apikeyInfoFunc: security.session_verification.verify_session

